<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <section id="show-page">
        <div>Title: </div>
        <div>
            <%= vinyl.title %>
        </div>
        <div>Release Year: </div>
        <div>
            <%= vinyl.releaseYear %>
        </div>
        <div>Band: </div>
        <div>
            <%= vinyl.band %>

        </div>

        <br><br>
        <h2>Requests</h2>
        <form id="add-request-form" method="POST" action="/reviews/vinyls/<%= vinyl._id %>/review">
            <label>requester and date:</label>
            <textarea name="content"></textarea>


            <input type="submit" value="Add request">

        </form>
        <% if (vinyl.reviews.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>request</th>


                    </tr>
                </thead>
                <tbody>
                    <% vinyl.reviews.forEach(function(v) { %>
                        <tr>

                            <td>
                                <%= v.content %>
                            </td>

                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Requests Yet</h5>
                <% } %>
                    <a href="/vinyls">
                        <button type="submit">Collection</button></a>
</body>



<body class="w3-black">