<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <section id="show-page">
        <div>Title: </div>
        <div>
            <%= vinyl.title %>
        </div>
        <div>Release Year: </div>
        <div>
            <%= vinyl.releaseYear %>
        </div>
        <div>Band: </div>
        <div>
            <%= vinyl.band %>

        </div>

        <br><br>
        <h2>Reviews</h2>
        <form id="add-request-form" method="POST" action="/reviews/vinyls/<%= vinyl._id %>/review">
            <label>requester and date:</label>
            <textarea name="content"></textarea>


            <input type="submit" value="Add request">

        </form>
        <% if (vinyl.reviews.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>request</th>


                    </tr>
                </thead>
                <tbody>
                    <% vinyl.reviews.forEach(function(v) { %>
                        <tr>

                            <td>
                                <%= v.content %>
                            </td>

                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Reviews Yet</h5>
                <% } %>
                    <a href="/vinyls">All Vinyls</a>
</body>
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Montserrat", sans-serif
    }
    
    .w3-row-padding img {
        margin-bottom: 12px
    }
    /* Set the width of the sidebar to 120px */
    
    .w3-sidebar {
        width: 120px;
        background: #222;
    }
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    
    #main {
        margin-left: 120px
    }
    /* Remove margins from "page content" on small screens */
    
    @media only screen and (max-width: 600px) {
        #main {
            margin-left: 0
        }
    }
</style>

<body class="w3-black">